:root {
  --main-bg-color: #177e89;
  --main-text-color: #f9f9f9;
  --main-text-dark-color: rgb(20, 20, 20);
  --main-primary-color: #f7b733;
  --main-secondary-color: #fc4a1a;
  --main-danger-color: #e10909;
}

// #4abdac #dfdce3
