.NotFound {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
  }

  &__image {
    height: 60%;
  }

  &__msg {
    font-size: 1.5rem;
    line-height: 1.7;
  }

  &__link {
    margin-top: 3rem;
  }
}
