@import "./BreakPoints.scss";

.SearchBar {
  max-width: 50rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 5rem;
  }

  &-label {
    display: block;
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: bold;

    @media only screen and (max-width: $bp-micro) {
      margin-bottom: 1rem;
    }
  }

  &-input {
    display: inline-block;
    background-color: white;
    border: 1px solid white;
    height: 4.5rem;
    width: 45rem;
    padding: 0 1rem;
    border: none;
    font-size: 1.8rem;
  }
  &-button {
    display: inline-block;
    color: white;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.6rem;
    background-color: var(--main-secondary-color);
    border: 1px solid var(--main-secondary-color);
    border: none;
    padding: 1rem 3rem;
    margin: 0;

    &:hover {
      background-color: lighten($color: #fc4a1a, $amount: 5%);
    }
  }
}
