@import "./BreakPoints.scss";
@import "loaders.css/src/animations/line-scale.scss";

.loader-active {
  display: block;
}

.VacationSpot {
  margin: 0 auto 5rem auto;
  height: 40rem;
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

  @media only screen and (max-width: $bp-medium) {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  &-info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.7rem;
    height: 15%;
    padding: 0 2rem;
    background-color: var(--main-primary-color);

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 2rem;
    }
  }

  &-date {
    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &-button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--main-danger-color);
    border-radius: 50%;
    font-size: 4rem;
    font-weight: bold;
    line-height: 0;
    transition: 0.2s all;

    &:hover {
      transform: scale(1.1);
    }
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 85%;
    padding: 0 2rem;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
      flex-direction: column;
    }
  }

  &-past {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }

  &-current {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  &-loader {
    margin: 0 auto;
  }
}
