:root {
  --main-bg-color: #177e89;
  --main-text-color: #f9f9f9;
  --main-text-dark-color: rgb(20, 20, 20);
  --main-primary-color: #00b159;
  --main-secondary-color: #fc4a1a;
  --main-danger-color: #white;
}

// #4abdac #dfdce3
